{% extends "base.twig" %}

{% set navbar_dark = true %}
{% block navbar_menu %}
    {% include 'template/navbar_item.twig' with {'href': baseurl ~ '/', 'html': 'Home'} %}
    {% include 'template/navbar_item.twig' with {'href': baseurl ~ '/logout', 'html': 'Logout'} %}
{% endblock navbar_menu %}

{% block body %}
    <div class="container pt-5 d-flex flex-wrap-reverse">
        <div class="col-lg-8 pt-5 pb-4">
            <div class="px-2 mb-4">
                <h2 class="section-heading m-0">My Reservations</h2>
            </div>
            <table id="reservation-table" class="table table-bordered">
                <thead>
                    <th>#</th>
                    <th>People</th>
                    <th>Date</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% set count = 1 %}
                    {% for reservation in reservations %}
                    <tr id="reservation-{{ reservation.id }}">
                        <td>{{ count }}</td>
                        <td>{{ reservation.people }}</td>
                        <td class="reservation-date">{{ reservation.res_date ~ " " ~ reservation.res_time }}</td>
                        {% if reservation.status %}
                            <td class="text-muted">{{ reservation.status }}</td>
                        {% else %}
                            <td>
                                <div class="btn btn-danger btn-sm cancel-reservation"><i class="fa fa-trash"></i> Cancel</div>
                            </td>
                        {% endif %}
                    </tr>
                    {% set count = count + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 pt-5">
            <div class="card w-100 mt-3">
                <div class="card-body d-flex flex-wrap">
                    <h5 class="card-title text-center w-100">{{ session.user.email }}</h5>
                    {% if session.user.firstname or session.user.lastname %}
                    <h6 class="card-subtitle text-muted w-50 m-0 text-center">
                        {% if session.user.firstname %}
                            {{ session.user.firstname }} 
                        {% endif %}
                        {{session.user.lastname}}
                    </h6>
                    {% else %}
                    <p class="card-text w-100">To make a reservation you have to fill out your details</p>
                    {% endif %}
                    <a href="#details" class="card-link w-50 text-center">My details</a>
                </div>
                <div class="card-footer">
                    <div class="form-group m-0">
                        <div class="form-control mb-1 p-0 d-flex">
                            <span class="py-2 px-3 bg-light rounded-left"><i class="fa fa-users"></i></span>
                            <div style="flex-grow: 1">
                                <input
                                    id="reservation-people"
                                    placeholder="Number of people"
                                    style="border: none;"
                                    class="w-100 py-2 px-2 rounded-right"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-control mb-1 p-0 d-flex">
                            <span class="py-2 px-3 bg-light rounded-left"><i class="fa fa-calendar"></i></span>
                            <div style="flex-grow: 1;">
                                <input
                                    id="reservation-date"
                                    placeholder="Reservation date"
                                    style="border: none;"
                                    class="w-100 py-2 px-2 rounded-right"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-control mb-1 p-0 d-flex">
                            <span class="py-2 px-3 bg-light rounded-left"><i class="fa fa-clock-o"></i></span>
                            <div style="flex-grow: 1;">
                                <input
                                    id="reservation-time"
                                    placeholder="Reservation time"
                                    style="border: none;"
                                    class="w-100 py-2 px-2 rounded-right"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex pt-2">
                        <button id="reservation-save" type="button" class="btn btn-primary w-50">Save</button>
                        <button id="reservation-cancel" type="button" class="btn btn-warning w-50">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'template/modal_details.twig' %}
{% endblock body %}

{% block custom_js %}
<script>
    const app = {};
    // Shorthand version of $(document).ready();
    $(() => {
        $('a[href="#details"]').click(() => $("#details-modal").modal("show"));
        $('a[href="#reservation"]').click(() => $("#reservation-modal").modal("show"));
        
        $('#reservation-cancel').click(() => $("#reservation-people, #reservation-date, #reservation-time").val(""));
        
        $(".cancel-reservation").click(function(){
            let id = $(this).parents("tr").attr("id").split("-")[1];
            api.ajax({
                url: '/reservation/' + id,
                method: 'DELETE'
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description + ". Reloading!");
                    setTimeout(function(){ window.location.reload() }, 1000);
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        $('#reservation-save').click(() => {
            let people = $('#reservation-people ').val();
            let date = $('#reservation-date ').val();
            let time = $('#reservation-time').val();
            
            if (!people) {
                return toastr.error("Please enter the number of people");
            }
            if (!date) {
                return toastr.error("Please enter the date of the reservation");
            }
            if (!time) {
                return toastr.error("Please enter the time of the reservation");
            }
            
            api.createReservation({
                people: people,
                date: date + " " + time
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description + ". Reloading!");
                    setTimeout(function(){ window.location.reload() }, 1000);
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        $('#modal-details-button').click(() => {
            let firstname = $("#details-firstname").val();
            let lastname = $("#details-lastname").val();
            
            if (!firstname) {
                return toastr.error("Please enter your firstname");
            }
            
            if (!lastname) {
                return toastr.error("Please enter your lastname");
            }
            
            api.updateProfile({
                firstname: firstname,
                lastname: lastname
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description + ". Reloading!");
                    $("#details-modal").modal("hide");
                    setTimeout(function(){
                        window.location.reload();
                    }, 1000);
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        let availableDays = {{ store_days|json_encode()|raw }}.map(d => {
            switch (d.day) {
                case "SUN": d.day = 0; break;
                case "MON": d.day = 1; break;
                case "TUE": d.day = 2; break;
                case "WED": d.day = 3; break;
                case "THU": d.day = 4; break;
                case "FRI": d.day = 5; break;
                case "SAT": d.day = 6; break;
            }
            return d;
        });
        app.res_date = flatpickr("#reservation-date", {
            minDate: new Date(),
            enable: [
                function(date) {
                    let match = false;
                    availableDays.forEach(d => {
                        if (date.getDay() == d.day) {
                            match = true;
                        }
                    });
                    if (match) {
                        return true;
                    }
                    return false;
                }
            ],
            onChange: function(selectedDates, dateStr, instance) {
                availableDays.forEach(d => {
                    if (selectedDates[0].getDay() == d.day) {
                        app.res_time.config.minTime = d.open_time;
                        app.res_time.config.maxTime = d.close_time;
                        app.res_time.clear();
                    }
                });
            }
        });
        
        app.res_time = flatpickr("#reservation-time", {
            enableTime: true,
            noCalendar: true
        });
        
        $(".reservation-date").each((i, elem) => {
            let d = new Date(elem.innerHTML.split(" ").join("T") + "Z");
            elem.innerHTML = `${d.getDate()}/${d.getMonth()+1}/${d.getFullYear()}, ${d.toLocaleTimeString()}`;
        });
        $('#reservation-table').DataTable()
    });
</script>
{% endblock custom_js %}